@import "tailwindcss";

@theme {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #09090b;
    color: #f8fafc;
  }
}
